.hero, .footer {
    background-color: #1F2937;
    color: white;
}

.quote {
    background-color: #E5E7EB;
}

.hero {
    display: flex;
}

.hero-child {
    flex:1;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    
}

.hero-child:first-child {
    margin-right: 20px;
}